body  {background-color:coral;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
ul {
  list-style:none;
  }
#navbar {
  background-color:rgba(0, 0, 0, 0.5);
position :fixed; 
display :flex; 
top: 0; 
left :0; 
width :100%; 
justify-content: flex-end;
}


.nav-list {
display : flex; flex-direction: row;
}
#navbar a{ 
  color : white; 
  margin:2.2rem; font-size:2rem; font-weight:bold;
}
.welcome-section {
padding:680px 2px 680px 2px; text-align: center; color:white; font-family:cursive; font-size:3rem;}

h2 {
  font-size:2rem;color:cyan;
  }
  projects { background-color:black;
  }

.project-title {
font-size :2rem; 
Color:black; text-align:center; text-decoration:none;
}

.project-img {
  width:300px; 
  height:300px; 
  padding: 25px; 
  display:block;
  }
.project-tile {
  border:white solid 3px;                      
  background-color:white;         
  width:350px; 
  height:auto; 
  margin:30px; text-decoration:none;}
h3 {
font-size:1.6rem;               
  color:white; 
text-align:left;
    }

.grid {
  display:grid;
  grid-template-columns: auto auto; 
  margin:0 50px 0 50px;
  }


.contact {
  padding:500px 2px 500px 2px; 
  text-align: center;
  color:white; 
  font-family:cursive; 
  font-size:4rem;
     }
.show-all {
color:black; text-align:center;
  background-color:rgba(0, 0, 0, 0.5);
  padding :20px;
   }


.logo {
  width:100px; 
  height:100px; background-color:white;
  }
.profile {
align-items:center; margin-bottom:300px; justify-content:space-evenly;display:flex;
left:50px; 
top:0; 
flex-direction: row; background-color:white;
}

.footer {
background-color:black; color:white;
margin:0; 
padding:0;
width:100% ; 
font-size:0.6rem;text-align:center;
}

.footer a {
  color:cyan;
  }
.more {
  text-align:center;
  }

@media screen and (max-width:600px) {
  #navbar a {
    width:500px ; 
    height:auto; font-size:1rem;
    } 
}
.welcome-section {
  padding:200px 2px 200px 2px; 
  font-size:1rem;} .project-title {
    font-size:1rem;
    }
 .project-img {
   width:100px; 
   height:100px;
   }
 .project-tile {
   width:130px; 
   height:200px;align-items:center; margin-left:0; 
padding-left:0;
   }  
.projects {
  align-items:center; padding-bottom:10px
  }
contact {
  padding:100px 2px 100px 2px; 
  font-size:2rem;
  }
  .logo {
    width:50px; 
    height:50px;}
  .footer { 
    font-size:0.5rem;
    }


   
