*{
  box-sizing:border:box;
}
html{
  font-size:16px;
}
body{
  font-family:'Open sans',sans serif;
}
label{
  border:2px solid black;
  width:270px;
    padding:0 7px;
  margin:20px auto;
}
header h1{
  text-align:auto;
  margin:-4px 0;
  letter-spacing:0.15px;
}
p{
  margin:0;
    justify-content:space-between;
  display:flex;
}
.divider{
  border-bottom:10x solid #888989;
  margin:2px 0;
}
.bold{
  font-weight:800;
  }
.large{
  height:10px;
}
.large,.medium {
  background-color:black;
  border:0;
}
medium {
  height:5px;
}
small-text{
font-size:0.85px;
}
.calories-info{
  display:flex;
  justify-content:space-between;
  align-item:flex-end;
}
calories-info h2{
  margin:0;
}
.left-container p{
  margin:-5px -2px;
  font-size:2em;
    font-weight:700;
}
.calorire-info span{
  margin:-7px -2px;
    font-size:2.4em;
  font-weight:700;
}
.right{
  justify-content:flex-end;
}

  
  
  
  
