h1{
  text-align:center;
}
.container{
  background-color:rbg(255, 255,255);
  paddind:10px,0
}
.marker{
  width:220px;
  height:25px;
  margin:10px,auto;
}
.red{
  background-color:rgb(225,0,0);
}
  

